@media screen and (max-width: 900px) {
  #logoWildex {
    margin-left: 120px;
    height: 7rem;
  }

  #navSentence {
    font-size: 1.1rem;
    display: flex;
    place-content: center;
  }

  .titre {
    all: unset;
  }

  #search {
    display: flex;
  }

  .classeur {
    all: unset;
  }
  .classeurDroite {
    display: none;
  }
  .classeurGauche {
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }

  .moitieClasseur {
    background-color: #ffcc01;
  }
  .case1 {
    height: 100vh;
  }

  .photoPro {
    flex-direction: column;
    align-items: center;
  }

  /* footer {
    position: relative;
  } */
}
